
# Comments on what this notebook does:

# WARNING:

For the script to work the data files must be positiong in the data path of the repository. 
Or the path to the data must be adapted accordingly. In this script all csv data must be in data_path 

# The data which is used here has received the following steps already 

* mapping of entries in countrys, and companies and so on, see Andreas notebooks 

* only unique values remains in columns which are categorical 

# The process steps which will be done in here:**

 * Bla bla

# Import Libraries

In [6]:
# First of all import the required libraries 
# Data and math  
import pandas as pd
import numpy as np 
import pyarrow.parquet as pq

# Visualisation 
import matplotlib.pyplot as plt  # für Matplotlib
import seaborn as sns            # für Seaborn
import plotly.express as px      # für Plotly Express
#%matplotlib inline

# Import System Libraries 
import warnings
import os
# Ignor all warnings, because there is a front problem with mach 
warnings.filterwarnings("ignore")

## Retrieving Data, deleting empty entries, Save dfs in callable variables

In [8]:
# Loading data of the combined french datasets 

# Path to the neighbouring 'data' folder
data_path = os.path.abspath(os.path.join(os.getcwd(), '..', '..','data'))

# Check path
print(data_path + '/EU_all_current_shared.parquet')

# Load csv data
table = pq.read_table(os.path.join(data_path, 'EU_all_current_shared.parquet'))

# In pandas DataFrame umwandeln
data_all = table.to_pandas()

# Show head to be sure 
print(data_all.head())

/Users/tillo/Repositoriums/aug24_bds_int---co2/data/EU_all_current_shared.parquet
         ID Country  VFN              Mp              Mh  \
0  280060.0      UK  NaN             NaN         UNKNOWN
1  280060.0      UK  NaN             NaN         AUDI AG
2  280060.0      PL  NaN     VW GROUP PC      VOLKSWAGEN
3  280060.0      HU  NaN             NaN  HYUNDAI ASSAN
4  280060.0      HU  NaN  GENERAL MOTORS            OPEL

                                Man       MMS                  Tan  \
0                           UNKNOWN  VAUXHALL                  NaN
1                               NaN      AUDI                  NaN
2                     VOLKSWAGEN AG       NaN  e1*2001/116*0211*27
3  HYUNDAI ASSAN OTOMOTIV SANAYI VE   Hyundai  e11*2007/46*0192*04
4                      ADAM OPEL AG      Opel   e1*2007/46*0374*14

             T       Va  ...  De  Vf Status    year Date of registration  \
0  A-H/MONOCAB     BF11  ... NaN NaN      P  2010.0                  NaN
1           B8  LCAKAQ1  ... NaN NaN      P  2011.0                  NaN
2           1T   CFHCAF  ... NaN NaN      P  2012.0                  NaN
3          ELH    F5D31  ... NaN NaN      P  2013.0                  NaN
4         0G-A  CAHBC12  ... NaN NaN      P  2014.0                  NaN

   Fuel consumption   ech  RLFI  Electric range (km)  #identical occurences
0                NaN  NaN   NaN                  NaN                    1.0
1                NaN  NaN   NaN                  NaN                    1.0
2                NaN  NaN   NaN                  NaN                    1.0
3                NaN  NaN   NaN                  NaN                   30.0
4                NaN  NaN   NaN                  NaN                    1.0

[5 rows x 41 columns]

In [9]:
data_all.head()
print(data_all.columns)
data_all.shape

Index(['ID', 'Country', 'VFN', 'Mp', 'Mh', 'Man', 'MMS', 'Tan', 'T', 'Va',
       'Ve', 'Mk', 'Cn', 'Ct', 'Cr', 'r', 'm (kg)', 'Mt', 'Enedc (g/km)',
       'Ewltp (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'Ft', 'Fm',
       'ec (cm3)', 'ep (KW)', 'z (Wh/km)', 'IT', 'Ernedc (g/km)',
       'Erwltp (g/km)', 'De', 'Vf', 'Status', 'year', 'Date of registration',
       'Fuel consumption ', 'ech', 'RLFI', 'Electric range (km)',
       '#identical occurences'],
      dtype='object')

(14442792, 41)

# Define function to filter for missing values (coming from andreas notebook)

In [ ]:
def count_missing_values(df):
    missing_counts = {}
    
    for col in df.columns:
        # Count pd.NA and np.nan separately
        pd_na_count = df[col].isna().sum() if df[col].dtype.name == 'category' else 0
        np_nan_count = df[col].isna().sum() if df[col].dtype.name == 'float32' else 0
        
        # Store the results
        missing_counts[col] = {'pd.NA': pd_na_count,
                               'np.nan': np_nan_count,
                               'Dtype': df[col].dtype.name,
                               'Percent Missing': f"{df[col].isna().sum() / len(df[col]) * 100:.2f}%"
}

    
    # Convert the results to a DataFrame for easier viewing
    result_df = pd.DataFrame(missing_counts).T
    return result_df

In [11]:
# Count and display the missing values
result = count_missing_values(data_all)
print(result)

                          pd.NA    np.nan     Dtype Percent Missing
ID                            0         0   float32           0.00%
Country                       0         0  category           0.00%
VFN                     6022343         0  category          41.70%
Mp                      1538457         0  category          10.65%
Mh                            0         0  category           0.00%
Man                      310768         0  category           2.15%
MMS                     6048284         0  category          41.88%
Tan                      490543         0  category           3.40%
T                         62037         0  category           0.43%
Va                       100484         0  category           0.70%
Ve                       225223         0  category           1.56%
Mk                        42908         0  category           0.30%
Cn                        49370         0  category           0.34%
Ct                        24710         0  category           0.17%
Cr                      2826753         0  category          19.57%
r                             0         4   float32           0.00%
m (kg)                        0     14075   float32           0.10%
Mt                            0   3802983   float32          26.33%
Enedc (g/km)                  0   5466691   float32          37.85%
Ewltp (g/km)                  0   3565598   float32          24.69%
W (mm)                        0   2252091   float32          15.59%
At1 (mm)                      0   2523206   float32          17.47%
At2 (mm)                      0   2738433   float32          18.96%
Ft                        24373         0  category           0.17%
Fm                        85880         0  category           0.59%
ec (cm3)                      0    613895   float32           4.25%
ep (KW)                       0   1401419   float32           9.70%
z (Wh/km)                     0  13141566   float32          90.99%
IT                      9564034         0  category          66.22%
Ernedc (g/km)                 0  12638415   float32          87.51%
Erwltp (g/km)                 0  11588146   float32          80.23%
De                            0  14116055   float32          97.74%
Vf                            0  13299530   float32          92.08%
Status                        0         0  category           0.00%
year                          0         0   float32           0.00%
Date of registration    9206861         0  category          63.75%
Fuel consumption              0  10470116   float32          72.49%
ech                    13991213         0  category          96.87%
RLFI                   13685744         0  category          94.76%
Electric range (km)           0  13347797   float32          92.42%
#identical occurences         0         0   float32           0.00%

# Working with specific dataframes from certain years, deleting redundant double columns