# Datapipeline:

WARNING:

+ For the script to work the data files must be positiong in the data path of the repository. 
Or the path to the data must be adapted accordingly. In this script all data must be in data_path 
+ The *Data which is used : EU_all_current_shared.parquet* from Andreas preprocession.

Import the necessary libraries 

0. Load the Data 

* Load the data from a specified file using the appropriate function.
* Save the loaded data into a variable (called df) for further use.

1. Main data pipeline 
Treat data to reach a point were we have the data frame ready for the separate treatments for classification and regression treatment 

* 1.A: Omitting / deleting of variables which have no meaning for the model (explain why)
* 1.B: Omitting / deleting car identifiers because they are not relevant for the model
* 1.C: Omitting data before a certain year (explain why) 
* 1.D: Treatment of outliers (explaing why)
    * Mean for gaussian like data 
    * Other technique for non gaussian distributed data 
* 1.E: Separation into electric cars and non electric cars (explain why)

2. Data pipeline for classification models 
Prepare data so that it can be used for all basic classification models 

* Loading data which has received the first/main data pipeline 
* 
* 
*
* Separation into train and test data 
* Scale data 

3. Data pipeline for regression models 
Prepare data so that it can be used for all basic regression models 

* Loading data which has received the first/main data pipeline 
* 
* 
*
* Separation into train and test data 

4. Evaluation with baseline classification models 

* Create different baselin models 
* Train models 
* Prediction 
* Evaluation / Score 

5. Evaluation with baseline regression models 

* Create different baselin models 
* Train models 
* Prediction 
* Evaluation / Score

# Importing necessary libraries

In [1]:
# Import the required libraries 

# Data manipulation and math operations
import pandas as pd
import numpy as np
import pyarrow.parquet as pq  # For working with parquet files

# Visualization libraries
import matplotlib.pyplot as plt  # For Matplotlib visualizations
import seaborn as sns            # For Seaborn visualizations
import plotly.express as px      # For interactive visualizations with Plotly
# %matplotlib inline  # Uncomment for Jupyter notebooks to display plots inline

# System libraries
import warnings
import os
# Ignore all warnings (useful for ignoring non-critical warnings)
warnings.filterwarnings("ignore")

# Machine Learning libraries
from sklearn.model_selection import train_test_split  # For splitting data into training and test sets
from sklearn.preprocessing import OneHotEncoder, StandardScaler  # For encoding categorical variables and scaling features

# Regression model and evaluation
from sklearn.linear_model import LinearRegression  # For linear regression models
from sklearn.metrics import mean_squared_error  # For calculating mean squared error (MSE)

# Libraries for decision tree, random forest, and other machine learning models
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor  # For decision tree models (classification and regression)
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor  # For random forest models (classification and regression)
from sklearn.svm import SVC  # For Support Vector Classification
from sklearn.neighbors import KNeighborsClassifier  # For K-Nearest Neighbors classification
from sklearn.metrics import accuracy_score, classification_report  # For model evaluation (classification metrics)

# 0. Loading Data

In [3]:
# Importing Data 
# Path to the neighboring 'data' folder
data_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'data'))

# Check the path
print(data_path + '/EU_all_current_shared.parquet')

# Load parquet data
table = pq.read_table(os.path.join(data_path, 'EU_all_current_shared.parquet'))

# Convert to pandas DataFrame
df = table.to_pandas()

/Users/tillo/Repositoriums/aug24_bds_int---co2/data/EU_all_current_shared.parquet

# 0.0 Insepct data functions

In [6]:
def inspect_data(df):
    """
    Function to perform an initial data inspection on a given DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame to inspect.

    Returns:
    None
    """
    print("Basic Data Overview")
    
    # Print the shape of the DataFrame (rows, columns)
    print("Shape of the dataframe:", df.shape)
    
    # Display the first 5 rows of the dataset
    print("\nFirst 5 rows of the dataframe:")
    print(df.head(5))
    
    # Get information about data types, missing values, and memory usage
    print("\nDataframe information:")
    df.info()
    
    # Show basic statistics for numeric columns
    print("\nSummary statistics of numeric columns:")
    print(df.describe())

inspect_data(df)

Basic Data Overview
Shape of the dataframe: (14442792, 41)

First 5 rows of the dataframe:
         ID Country  VFN              Mp              Mh  \
0  280060.0      UK  NaN             NaN         UNKNOWN
1  280060.0      UK  NaN             NaN         AUDI AG
2  280060.0      PL  NaN     VW GROUP PC      VOLKSWAGEN
3  280060.0      HU  NaN             NaN  HYUNDAI ASSAN
4  280060.0      HU  NaN  GENERAL MOTORS            OPEL

                                Man       MMS                  Tan  \
0                           UNKNOWN  VAUXHALL                  NaN
1                               NaN      AUDI                  NaN
2                     VOLKSWAGEN AG       NaN  e1*2001/116*0211*27
3  HYUNDAI ASSAN OTOMOTIV SANAYI VE   Hyundai  e11*2007/46*0192*04
4                      ADAM OPEL AG      Opel   e1*2007/46*0374*14

             T       Va  ...  De  Vf Status    year Date of registration  \
0  A-H/MONOCAB     BF11  ... NaN NaN      P  2010.0                  NaN
1           B8  LCAKAQ1  ... NaN NaN      P  2011.0                  NaN
2           1T   CFHCAF  ... NaN NaN      P  2012.0                  NaN
3          ELH    F5D31  ... NaN NaN      P  2013.0                  NaN
4         0G-A  CAHBC12  ... NaN NaN      P  2014.0                  NaN

   Fuel consumption   ech  RLFI  Electric range (km)  #identical occurences
0                NaN  NaN   NaN                  NaN                    1.0
1                NaN  NaN   NaN                  NaN                    1.0
2                NaN  NaN   NaN                  NaN                    1.0
3                NaN  NaN   NaN                  NaN                   30.0
4                NaN  NaN   NaN                  NaN                    1.0

[5 rows x 41 columns]

Dataframe information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14442792 entries, 0 to 14442791
Data columns (total 41 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     float32
 1   Country                category
 2   VFN                    category
 3   Mp                     category
 4   Mh                     category
 5   Man                    category
 6   MMS                    category
 7   Tan                    category
 8   T                      category
 9   Va                     category
 10  Ve                     category
 11  Mk                     category
 12  Cn                     category
 13  Ct                     category
 14  Cr                     category
 15  r                      float32
 16  m (kg)                 float32
 17  Mt                     float32
 18  Enedc (g/km)           float32
 19  Ewltp (g/km)           float32
 20  W (mm)                 float32
 21  At1 (mm)               float32
 22  At2 (mm)               float32
 23  Ft                     category
 24  Fm                     category
 25  ec (cm3)               float32
 26  ep (KW)                float32
 27  z (Wh/km)              float32
 28  IT                     category
 29  Ernedc (g/km)          float32
 30  Erwltp (g/km)          float32
 31  De                     float32
 32  Vf                     float32
 33  Status                 category
 34  year                   float32
 35  Date of registration   category
 36  Fuel consumption       float32
 37  ech                    category
 38  RLFI                   category
 39  Electric range (km)    float32
 40  #identical occurences  float32
dtypes: category(21), float32(20)
memory usage: 1.7 GB

Summary statistics of numeric columns:
                 ID             r        m (kg)            Mt  Enedc (g/km)  \
count  1.444279e+07  1.444279e+07  1.442872e+07  1.063981e+07  8.976101e+06
mean   3.617678e+07  6.658795e+00  1.703628e+03  1.828882e+03  1.281917e+02
std    4.393210e+07  1.099097e+02  3.443328e+02  3.689104e+02  4.481242e+01
min    1.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    1.901051e+06  1.000000e+00  1.393000e+03  1.533000e+03  1.110000e+02
50%    9.007275e+06  1.000000e+00  1.590000e+03  1.748000e+03  1.270000e+02
75%    6.501453e+07  1.000000e+00  1.825000e+03  2.003000e+03  1.490000e+02
max    1.496950e+08  5.909200e+04  9.928000e+03  6.612000e+03  9.850000e+02

       Ewltp (g/km)        W (mm)      At1 (mm)      At2 (mm)      ec (cm3)  \
count  1.087719e+07  1.219070e+07  1.191959e+07  1.170436e+07  1.382890e+07
mean   1.379232e+02  2.474290e+03  1.729107e+03  1.717049e+03  1.825177e+03
std    5.580564e+01  3.241919e+02  1.746379e+02  1.635476e+02  6.009905e+02
min    0.000000e+00  1.000000e+00  1.550000e+02  0.000000e+00  0.000000e+00
25%    1.280000e+02  2.626000e+03  1.538000e+03  1.536000e+03  1.496000e+03
50%    1.460000e+02  2.700000e+03  1.569000e+03  1.570000e+03  1.950000e+03
75%    1.700000e+02  2.850000e+03  1.605000e+03  1.611000e+03  1.995000e+03
max    7.300000e+02  6.100000e+03  5.361000e+03  1.583000e+04  8.463800e+04

            ep (KW)     z (Wh/km)  Ernedc (g/km)  Erwltp (g/km)  \
count  1.304137e+07  1.301226e+06   1.804377e+06   2.854646e+06
mean   1.338711e+02  1.911042e+02   1.923270e+00   1.528738e+00
std    6.176083e+01  5.642786e+01   8.527987e-01   4.958403e-01
min    0.000000e+00  1.000000e+00   0.000000e+00   0.000000e+00
25%    9.200000e+01  1.600000e+02   1.200000e+00   1.100000e+00
50%    1.100000e+02  1.770000e+02   1.700000e+00   1.660000e+00
75%    1.430000e+02  2.150000e+02   2.600000e+00   1.950000e+00
max    1.770000e+03  2.756000e+03   9.200000e+00   2.000000e+01

                  De            Vf          year  Fuel consumption   \
count  326737.000000  1.143262e+06  1.444279e+07       3.972676e+06
mean        0.044470  4.228077e-02  2.046195e+03       5.793165e+00
std         0.339691  1.983620e-01  2.659248e+01       2.254286e+00
min        -1.000000  0.000000e+00  2.010000e+03       1.000000e-01
25%         0.001000  0.000000e+00  2.018000e+03       5.000000e+00
50%         0.015000  0.000000e+00  2.020000e+03       5.800000e+00
75%         0.030000  0.000000e+00  2.022000e+03       6.800000e+00
max         7.200000  2.000000e+00  2.023000e+03       9.900000e+01

       Electric range (km)  #identical occurences
count         1.094995e+06           1.444279e+07
mean          2.041645e+02           5.018473e+00
std           1.918173e+02           5.717576e+01
min           1.000000e+00           1.000000e+00
25%           5.600000e+01           1.000000e+00
50%           7.600000e+01           1.000000e+00
75%           4.120000e+02           2.000000e+00
max           8.830000e+02           2.744900e+04

In [ ]:
# Define missing values function for future use
def count_missing_values(df):
    missing_counts = {}
    
    for col in df.columns:
        # Count pd.NA and np.nan separately
        pd_na_count = df[col].isna().sum() if df[col].dtype.name == 'category' else 0
        np_nan_count = df[col].isna().sum() if df[col].dtype.name == 'float32' else 0
        
        # Store the results
        missing_counts[col] = {'pd.NA': pd_na_count,
                               'np.nan': np_nan_count,
                               'Dtype': df[col].dtype.name,
                               'Percent Missing': f"{df[col].isna().sum() / len(df[col]) * 100:.2f}%"
                              }

    # Convert the results to a DataFrame for easier viewing
    result_df = pd.DataFrame(missing_counts).T
    return result_df

# Count and display the missing values
result = count_missing_values(df)
print(result)

# 1. Main data pipeline

# 1.A Drop all data that does not contain target variable Ewltp (g/km)

In [7]:
# Drop rows where all values in 'Ewltp (g/km)' are NaN
df.dropna(subset=['Ewltp (g/km)'], inplace=True)

# 1.B Filtering for years after 2018 
+ appearance of the new WLT measurement of the EU 
+ more trustworthy 
+ VW diesel scandal in 2015

In [9]:
# Filter rows where year is 2018 or greater
df = df[df['year'] >= 2018]

# Print the shape of the updated DataFrame
print('The shape of the remaining df:')
print(df.shape)

The shape of the remaining df:
(10875961, 41)

# 1.C Declare all columns which should be deleted/omitted, explain why and delete them

In [13]:
# Delete columns without meaning for the model
print(df.columns)

# List of columns to be dropped because they are pure car identifiers and have no technical meaning
car_identifiers = ['Ve', 'Va', 'T', 'Tan', 'VFN', 'ID']

administrative_values = ['Country', 'Date of registration', 'Status', 'year']

data_related_columns = ['r', '#identical occurences']

brand_related = ['Mp', 'Mh', 'Man', 'MMS']

# Different measurement or to much correlation (fuel consumation)
correlated_with_target = ['Enedc (g/km)','Ernedc (g/km)', 'Erwltp (g/km)','Fuel consumption ']

# Put them together 
list_columns_drop = car_identifiers + administrative_values + data_related_columns + brand_related + correlated_with_target

# Filter only the columns that exist in the DataFrame
existing_columns_to_drop = [col for col in list_columns_drop if col in df.columns]

# Drop the existing columns
if existing_columns_to_drop:
    df.drop(existing_columns_to_drop, axis=1, inplace=True)
    print(f"Dropped columns: {existing_columns_to_drop}")
else:
    print("No columns to drop were found in the DataFrame.")

# Display the updated DataFrame
print(df.columns)

Index(['Mk', 'Cn', 'Ct', 'Cr', 'm (kg)', 'Mt', 'Enedc (g/km)', 'Ewltp (g/km)',
       'W (mm)', 'At1 (mm)', 'At2 (mm)', 'Ft', 'Fm', 'ec (cm3)', 'ep (KW)',
       'z (Wh/km)', 'IT', 'Ernedc (g/km)', 'Erwltp (g/km)', 'De', 'Vf',
       'Fuel consumption ', 'ech', 'RLFI', 'Electric range (km)'],
      dtype='object')
Dropped columns: ['Enedc (g/km)', 'Ernedc (g/km)', 'Erwltp (g/km)', 'Fuel consumption ']
Index(['Mk', 'Cn', 'Ct', 'Cr', 'm (kg)', 'Mt', 'Ewltp (g/km)', 'W (mm)',
       'At1 (mm)', 'At2 (mm)', 'Ft', 'Fm', 'ec (cm3)', 'ep (KW)', 'z (Wh/km)',
       'IT', 'De', 'Vf', 'ech', 'RLFI', 'Electric range (km)'],
      dtype='object')

In [15]:
inspect_data(df)
count_missing_values(df)

Basic Data Overview
Shape of the dataframe: (10875961, 21)

First 5 rows of the dataframe:
             Mk            Cn  Ct  Cr  m (kg)      Mt  Ewltp (g/km)  W (mm)  \
2968982  SUZUKI         SWIFT  M1  M1  1045.0  1151.0         135.0  2450.0
2968986  SUZUKI         SWIFT  M1  M1   915.0  1051.0         115.0  2450.0
2968987  SUZUKI         SWIFT  M1  M1   915.0  1051.0         115.0  2450.0
2969039   SKODA        SUPERB  M1  M1  1560.0     NaN         146.0  2836.0
2969057     BMW  X2 sDrive18i  M1  M1  1490.0  1578.0         149.0  2670.0

         At1 (mm)  At2 (mm)  ... Fm ec (cm3)  ep (KW)  z (Wh/km)      IT  De  \
2968982    1510.0    1515.0  ...  M   1373.0    103.0        NaN     NaN NaN
2968986    1530.0    1530.0  ...  M   1242.0     66.0        NaN     NaN NaN
2968987    1520.0    1520.0  ...  M   1242.0     66.0        NaN     NaN NaN
2969039    1578.0    1566.0  ...  M   1968.0    110.0        NaN     NaN NaN
2969057    1563.0    1562.0  ...  M   1499.0    103.0        NaN  e24 19 NaN

          Vf  ech RLFI Electric range (km)
2968982  0.0  NaN  NaN                 NaN
2968986  0.0  NaN  NaN                 NaN
2968987  0.0  NaN  NaN                 NaN
2969039  0.0  NaN  NaN                 NaN
2969057  0.0  NaN  NaN                 NaN

[5 rows x 21 columns]

Dataframe information:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10875961 entries, 2968982 to 14442791
Data columns (total 21 columns):
 #   Column               Dtype
---  ------               -----
 0   Mk                   category
 1   Cn                   category
 2   Ct                   category
 3   Cr                   category
 4   m (kg)               float32
 5   Mt                   float32
 6   Ewltp (g/km)         float32
 7   W (mm)               float32
 8   At1 (mm)             float32
 9   At2 (mm)             float32
 10  Ft                   category
 11  Fm                   category
 12  ec (cm3)             float32
 13  ep (KW)              float32
 14  z (Wh/km)            float32
 15  IT                   category
 16  De                   float32
 17  Vf                   float32
 18  ech                  category
 19  RLFI                 category
 20  Electric range (km)  float32
dtypes: category(9), float32(12)
memory usage: 739.3 MB

Summary statistics of numeric columns:
             m (kg)            Mt  Ewltp (g/km)        W (mm)      At1 (mm)  \
count  1.087274e+07  1.049646e+07  1.087596e+07  9.063936e+06  8.823290e+06
mean   1.667428e+03  1.830245e+03  1.379253e+02  2.608172e+03  1.658816e+03
std    3.403263e+02  3.630781e+02  5.580365e+01  2.253780e+02  1.003182e+02
min    2.050000e+02  1.350000e+02  0.000000e+00  6.000000e+02  5.200000e+02
25%    1.400000e+03  1.534000e+03  1.280000e+02  2.639000e+03  1.545000e+03
50%    1.610000e+03  1.748000e+03  1.460000e+02  2.716000e+03  1.573000e+03
75%    1.845000e+03  2.004000e+03  1.700000e+02  2.851000e+03  1.607000e+03
max    4.953000e+03  6.612000e+03  7.300000e+02  5.840000e+03  3.200000e+03

           At2 (mm)      ec (cm3)       ep (KW)     z (Wh/km)             De  \
count  8.818633e+06  1.035299e+07  1.042426e+07  1.269639e+06  316066.000000
mean   1.657679e+03  1.800449e+03  1.349061e+02  1.917809e+02       0.044603
std    9.978365e+01  5.731887e+02  6.177465e+01  5.655722e+01       0.340558
min    5.200000e+02  0.000000e+00  1.000000e+00  1.000000e+00      -1.000000
25%    1.540000e+03  1.497000e+03  9.600000e+01  1.600000e+02       0.001000
50%    1.574000e+03  1.950000e+03  1.100000e+02  1.770000e+02       0.015000
75%    1.618000e+03  1.995000e+03  1.470000e+02  2.150000e+02       0.031000
max    3.800000e+03  7.993000e+03  1.506000e+03  2.756000e+03       7.200000

                 Vf  Electric range (km)
count  1.088017e+06         1.088673e+06
mean   4.374472e-02         2.050063e+02
std    2.014785e-01         1.920952e+02
min    0.000000e+00         1.000000e+00
25%    0.000000e+00         5.600000e+01
50%    0.000000e+00         7.700000e+01
75%    0.000000e+00         4.120000e+02
max    1.000000e+00         8.830000e+02

                        pd.NA    np.nan     Dtype Percent Missing
Mk                       2632         0  category           0.02%
Cn                      32334         0  category           0.30%
Ct                       2500         0  category           0.02%
Cr                      48391         0  category           0.44%
m (kg)                      0      3221   float32           0.03%
Mt                          0    379506   float32           3.49%
Ewltp (g/km)                0         0   float32           0.00%
W (mm)                      0   1812025   float32          16.66%
At1 (mm)                    0   2052671   float32          18.87%
At2 (mm)                    0   2057328   float32          18.92%
Ft                        971         0  category           0.01%
Fm                        645         0  category           0.01%
ec (cm3)                    0    522973   float32           4.81%
ep (KW)                     0    451696   float32           4.15%
z (Wh/km)                   0   9606322   float32          88.33%
IT                    6151515         0  category          56.56%
De                          0  10559895   float32          97.09%
Vf                          0   9787944   float32          90.00%
ech                  10424961         0  category          95.85%
RLFI                 10119464         0  category          93.04%
Electric range (km)         0   9787288   float32          89.99%

# 1.D Identify electric cars 
+ identify electric (or hybrid) cars by looking at electric range and electric capacity 
+ making separate column whichs marks the non electric cars 
+ fill then all the nan values in electri range and electric capacity with 0 (because they have non, which is equal to 0)
+ ANNOTATION: Open for discussion with the Team

In [19]:
# If there is a NaN in Electric range or a NaN in z
# Create the Non_Electric column: 1 if both Electric range OR z (Wh/km) are NaN, otherwise 0
df['Non_Electric_Car'] = (df['Electric range (km)'].isna() & df['z (Wh/km)'].isna()).astype(int)

# Fill NaN values in Electric range (km) and z (Wh/km) with 0
df['Electric range (km)'].fillna(0, inplace=True)
df['z (Wh/km)'].fillna(0, inplace=True)

In [20]:
# Display the updated DataFrame
count_missing_values(df)

                        pd.NA    np.nan     Dtype Percent Missing
Mk                       2632         0  category           0.02%
Cn                      32334         0  category           0.30%
Ct                       2500         0  category           0.02%
Cr                      48391         0  category           0.44%
m (kg)                      0      3221   float32           0.03%
Mt                          0    379506   float32           3.49%
Ewltp (g/km)                0         0   float32           0.00%
W (mm)                      0   1812025   float32          16.66%
At1 (mm)                    0   2052671   float32          18.87%
At2 (mm)                    0   2057328   float32          18.92%
Ft                        971         0  category           0.01%
Fm                        645         0  category           0.01%
ec (cm3)                    0    522973   float32           4.81%
ep (KW)                     0    451696   float32           4.15%
z (Wh/km)                   0         0   float32           0.00%
IT                    6151515         0  category          56.56%
De                          0  10559895   float32          97.09%
Vf                          0   9787944   float32          90.00%
ech                  10424961         0  category          95.85%
RLFI                 10119464         0  category          93.04%
Electric range (km)         0         0   float32           0.00%
Non_Electric                0         0     int64           0.00%
Non_Electric_Car            0         0     int64           0.00%

# 1.E Outlier Handling

# Place gaussian like distribution test here if there is one

In [ ]:
# Linear models assume normality of the data. 
# Instead of performing slow Gaussian-like distribution tests, we will visualize the distributions.

# Select only the numerical columns of type float64, float32, and int64
numb_columns = df.select_dtypes(include=['float64', 'float32', 'int64']).columns

# Plot histograms to visualize the distribution of each numerical column
plt.figure(figsize=(15, 10))  # Set the figure size
for i, column in enumerate(numb_columns, 1):
    plt.subplot(len(numb_columns) // 3 + 1, 3, i)  # Create subplots (3 columns per row)
    sns.histplot(df[column], kde=True)  # Plot histogram with a KDE (Kernel Density Estimate)
    plt.title(f'Distribution of {column}')  # Add title to each subplot
    plt.tight_layout()  # Adjust layout to prevent overlap
plt.show()  # Display the plots

In [ ]:
# Since the near gaussian distribution test is not working I am declaring them by visual: 
gaussian_cols = ['m (kg)', 'Mt',  'W (mm)', 'At1 (mm)', 'At2 (mm)']
non_gaussian_cols = [ 'ec (cm3)', 'ep (KW)']

# 2. Data pipeline for classification models

# 3. Data pipeline for regression models

# 4. Evaluation with baseline classification models

# 5. Evaluation with baseline regression models